<div class=" grid grid--2-col .grid--2-col-tablet .grid--2-col-desktop about-us-section">
  <div class="grid__item">
    <h3>Nến Thơm Thiên Nhiên Candle Cup - AYAGA</h3>
    <span>NếnthơmCandleCup là liệu pháp mùi hương sẽ mang lại trải nghiệm thư thái, giảm căng thẳng cho bạn và người thương. Với nguyên liệu từ sáp tự nhiên 100% và tinh dầu cao cấp, bấc gỗ nến thơm AYAGA sẽ mang đến cho bạn một trải nghiệm hoàn toàn mới.</span>
  </div>
  <div class="grid__item">
    <video  role="presentation" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/8341587d09eb4eeb9793f7e02fca13c5.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;"></video>
  </div>
</div>