<div class="details">
                Fragrance Notes:
                  <ul class="fragrance-note-list">
                    <li class="text12">Top: Cinnamon Stick</li>
                
                    <li class="text12">Mid: Clove, Cardamom</li>
                
                    <li class="text12">Base: Bay Leaf, Cedarwood</li>
                
                    <li class="text12">
                      Top note is the initial impression of the fragrance, middle note is the
                      main body of the scent and base is its final impression.
                    </li>
                  </ul>
</div>