<!-- Nguyen code freeship 50$ start -->
                <div class="shipping-free-tip">
                    <p>
                      <img alt="" height="16" src="https://cdn.shopify.com/s/files/1/0668/9482/3649/files/Shipping_Delivery.jpg?v=1665656392" title="" width="15">&nbsp;
                      Free economy shipping on orders $50+. Easy returns.
                      <span class="has-tooltip">
                    	<span class="tooltip">
                    		We want you to love everything you purchase from us - candles, fragrances, home accents, and anything else. 
                            If for any reason you don't, even if you just change your mind, start our self-service return process or 
                            simply return your item to any of our Dreamhood Candle stores for a full refund or exchange.
                    	</span>
                    	<a href="#" class="btn">Learn more.</a>
                    </span>
                    </p>
                </div>
<!-- Nguyen code freeship 50$ end -->