<div class ="romance-content medium-hide large-up-hide {{ block.shopify_attributes }}">
  <div class="romance-text-all">
    <div id="truncated-mobile" class="text12">{{ product.metafields.custom.romance_content | truncatewords: 12, " ... <a class='read-more-romance-mobile'>Read More</a>" }}</div>
    <div id="fullDescription-mobile" class="text12" style="display: none">{{ product.metafields.custom.romance_content }} <a class='read-less-romance-mobile'>Read Less</a></div>
  </div>
</div>