<div class ="romance-content">
  <div class="romance-text-all">
    <div id="truncated" class="text12">{{ product.metafields.custom.romance_content | truncatewords: 12, " ... <a class='read-more-romance'>Read More</a>" }}</div>
    <div id="fullDescription" class="text12" style="display: none">{{ product.metafields.custom.romance_content }} <a class='read-less-romance'>Read Less</a></div>
  </div>
</div>