<div class="page-width" {{ block.shopify_attributes }}>
  <div class=" grid grid--1-col grid--2-col-tablet grid--2-col-desktop about-us-section">
    <div class="grid__item">
      <h2 class="handwriting-font-art">About Us</h2>
      <h3>Natural Scented Candle Cup - Dreamhood Candle</h3>
      <span>Dreamhood candle is an aromatherapy that will bring a relaxing, stress-relieving experience to you and your loved one. With materials from 100% natural wax and high quality essential oils, Dreamhood scented candle wood wick will bring you a whole new experience.</span>
      <h3>Candles Fit For Your Home</h2>
      <p>Our candles are cruelty-free, non-toxic and contain no lead, plastics, paraben, phthalates or synthetic dyes and are made with a natural soy wax blend.</p>
    
    </div>
    <div class="grid__item">
      <video class="handcrafted-video"  role="presentation" crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="https://cdn.shopify.com/videos/c/o/v/8341587d09eb4eeb9793f7e02fca13c5.mp4" style="height: 100%; width: 100%; object-fit: cover; object-position: center center; opacity: 1;"></video>
      <span style="display:block;text-align:center;">Handcrafted by a team of artisans.</span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "About us",
    "tag": "section",
    "class": "about-us-section",
    "limit": 1,
    "presets": [
      {
        "name": "About us"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}