<div class="details">
  Fragrance Notes:
  <ul class="fragrance-note-list">
    <li class="text12">Top: {{ product.metafields.custom.top_note }}</li>
    <li class="text12">Mid: {{ product.metafields.custom.mid_note }}</li>
    <li class="text12">Base: {{ product.metafields.custom.base_note }}</li>
    <li class="text12">
      Top note is the initial impression of the fragrance, middle note is the
      main body of the scent and base is its final impression.
    </li>
  </ul>
</div>
{% schema %}
  {
    "name": "Fragrance Notes Des",
    "tag": "section",
    "class": "fragrance-notes-description",
    "limit": 1,
    "presets": [
      {
        "name": "Fragrance Notes Description"
      }
    ],
    "templates": ["article", "index", "page", "product"]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}