<div>MYTEST</div>
{% schema %}
  {
    "name": "Fragrance Notes Images",
    "tag": "section",
    "settings": [
      {
      "type": "text",
      "id": "fni",
      "label": "Fragrance Notes Images 2"
    }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}