
<div class="test123">
  
</div>

{% schema %}
  {
    "name": "My Section",
    "tag": "section",
    "class": "fragrance-notes-section",
    "limit": 1
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}